<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>stock</display-name>
  <description>Random Stock Value Generator</description>
  <welcome-file-list>
    <welcome-file>stockGenerator</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>stockGenerator</servlet-name>
    <servlet-class>stock.StockValueGenerator</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>stockGenerator</servlet-name>
    <url-pattern>/stockGenerator</url-pattern>
  </servlet-mapping>
</web-app>
